.video {
	& iframe {
		aspect-ratio: 1280 / 720;
		height: auto;
		width: 100%;
	}
}

.related {
	display: flex;
	gap: 3rem;

	& .episode {
		width: 300px;

		& img {
			width: 100%;
		}

		& p {
			margin-block-start: 0.25rem;
		}
	}
}
